.todo-wrapper{
    padding: 2rem;
}

.todo-wrapper h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
}

.todo-wrapper h4{
    font-size: 18px;
    color: var(--lignt);
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 16px;
}

.todo{
    position: relative;
    background-color: var(--mainColor);
    padding: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 16px;
}

.todo:hover{
    opacity: 0.8;
}

.todo .checkbox{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--mainColorLight);
    background-image: linear-gradient(to bottom, transparent, transparent);
    transition: 0.4s;
    margin-right: 16px;
}

.todo.is-complete .checkbox {
	background-color: var(--primary);
	background-image: linear-gradient(to bottom, var(--primary), var(--secondaryColor));
}

.todo .delete-todo {
	position: absolute;
    right: 16px;
    color: var(--primary);
    width: 24px;
    height: 24px;
    background-color: var(--mainColorLight);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}